@import "./component/Toggle";
@import "./component/Modal";
@import "./component/Tab";
@import "./component/Tag";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    margin: 2rem;
    border: 1px solid gray;
    border-radius: 15px;
    min-height: 35vh;
}

h2 {
    margin-left: 15px;
}
