.toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.toggle-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 2.2rem;
  border-radius: 15px;
  background-color: #c5c5c5;
  margin-bottom: 2rem;
  cursor: pointer;
}

.toggle-bg-on {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #4000c7;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle-bg-off {
  z-index: 1;
  width: 0;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle-circle {
  z-index: 10;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 15px;
  position: absolute;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-left: 5px;
}

.toggle-circle-on {
  z-index: 10;
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-button {
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  padding: 1.5rem;
  background-color: #4000c7;
  color: #fff;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.modal-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 2rem 5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: default;
}

.fa-times {
  cursor: pointer;
}

h4 {
  color: #4000c7;
}

.tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  margin-bottom: 8rem;
  background-color: #c5c5c5;
}

.tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  cursor: pointer;
  color: gray;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tab-content-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  cursor: pointer;
  color: #fff;
  background-color: #4000c7;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto 0 auto;
  border: 1px solid #cacaca;
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tag-container-forced {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto 0 auto;
  border: 1px solid black;
  border-radius: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  background-color: #4000c7;
  color: #fff;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

.fa-times {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  color: #4000c7;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.tag-input {
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.tag-input:focus {
  outline: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  margin: 2rem;
  border: 1px solid gray;
  border-radius: 15px;
  min-height: 35vh;
}

h2 {
  margin-left: 15px;
}
/*# sourceMappingURL=index.css.map */