@import "./component/Toggle";
@import "./component/Modal";
@import "./component/Tab";
@import "./component/Tag";
@import "./component/AutoComplete";
@import "./component/ClickToEdit";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section {
    margin: 6rem 2rem;
    border: 1px solid gray;
    border-radius: 15px;
    min-height: 35vh;
    box-shadow: gray 1px 1px 4px;
}

h2 {
    margin-left: 15px;
}
