.autocomplete-container {
    border: 1px solid #dfdfdf;
    border-radius: 15px;
}

.autocomplete-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-times {
        color: black;
        margin-right: 10px;
    }
}

.autocomplete-input {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 1rem;

    &:focus {
        outline: none;
    }
}

.dropDownList-box {
    border-top: 1px solid #dfdfdf;
    list-style: none;
}

.dropDownList {
    margin: 0.5rem 0;
    padding: 0 0.5rem;

    &:hover {
        background-color: #d3d3d3;
    }
}
